---
layout: default
pagination:
  enabled: true
---
<!-- The main content area -->

<!-- 인트로 문구 추가 -->
<!-- <div class="intro">
  Crafting digital experiences that <br>
  help user.
</div> -->

<div class="posts">
  <div class="grid-xlarge">
    <div class="posts__container" itemscope itemtype="http://schema.org/Blog" data-columns>

      {% for post in site.posts %}
        {% include post-card.html %}
      {% endfor %}
      
    </div>
  </div>

  {% include pagination.html %}
</div>

<!-- jquery로 네비게이션에 현재 위치 표시 -->
<!-- <script type="text/javascript">
  $( document ).ready(function() {
      $('.header__list li:first-child').addClass("active");
  });
</script> -->