---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>

  {% include head.html %}

</head>
<body id="{% if page.title %}{{ page.title | slugify }}{% else %}home{% endif %}" class="{{ page.layout | downcase }}-layout">
  
  {% include header.html %}

  <main class="💈">

    {{ content }}
    
  </main>

  {% include footer.html %}
<!-- 
  <div class='cursor circle-cursor-inner'></div>
  <div class='cursor circle-cursor-outer'></div>
  <script type="text/javascript">
  	$(document)
  	  .mousemove(function(e) {
  	    $('.cursor')
  	      .eq(0)
  	      .css({
  	        left: e.pageX,
  	        top: e.pageY
  	      });
  	    setTimeout(function() {
  	      $('.cursor')
  	        .eq(1)
  	        .css({
  	          left: e.pageX,
  	          top: e.pageY
  	        });
  	    }, 100);
  	  })
  </script> -->

</body>
</html>
